@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.marquee-wrapper:before {
  z-index: 1;
  border-radius: 25px 25px 0 0;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.6);
}
.marquee-wrapper:after {
  z-index: 1;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px -10px 15px 10px rgba(0, 0, 0, 0.6);
  bottom: 12px;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
.card-overlay-wrapper {
  transition: all 0.5s ease;
}

.card-overlay-wrapper .card-text-wrapper p {
  font-size: 20px; /* Initial font size */
  transition: font-size 0.3s ease; /* Apply transition for smooth change */
}

.card-overlay-wrapper:hover .card-text-wrapper p {
  font-size: 24px; /* Increased font size on hover */
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-overlay-wrapper:hover .card-footer-text-wrapper {
  animation: blink 0.5s; /* Blink animation on hover */
}
.marquee-item-overlay p {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.marquee-item-overlay:hover p {
  opacity: 1;
  visibility: visible;
}
